@charset "UTF-8";

/*home, thami e jenny*/
* {
  margin: 0;
  padding: 0;
  text-transform: none;
}

body {
  background-color: #BA4347;
}

/*kyoto*/

.bkyoto{
    background-color: #677456;
    width: 100%;

}

.bkyoto nav{
    color: #F8D9E7;
}
.bkyoto article {
    color: #2D2C2E;
    float: right;
    margin-left: 10%;
    
    font-family: 'Alexandria';
    font-size: 1.1em;
    margin-right: 20%;
}
.bkyoto h1{
    color: #F8D9E7;
    text-align: right;
    font-weight: 100%;
    font-size: 5em;
    
    

}
.bkyoto header{
    background-color: #F8D9E7;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding-left: 70px;
    top:0;

}
.bkyoto p{
  
  text-align: right;
  margin-left: 10px;


}
.bkyoto img{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.bkyoto footer{
    color: #F8D9E7;

}
/*tokyo*/
.btokyo{
    background-color: #507494;
    width: 100%;

}

.btokyo nav{
    color: #1C2242;
}
.btokyo article {
    color: #C9C8C4;
    float: left;
    margin-left: 10%;
    
    font-family: 'Alexandria';
    font-size: 1.1em;
    margin-right: 20%;
    margin-bottom: 5%;
}
.btokyo h1{
    color: #1C2242;
    text-align: left;
    font-weight: 100%;
    font-size: 5em;
    margin-left: 15%;
    
    

}
.btokyo header{
    background-color: #1C2242;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding-left: 70px;
    top:0;

}
.btokyo p{
  
  text-align: left;
  margin-left: 10%;


}
.btokyo img{
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 3%;
    float: right;
    margin-right: 20%;
}
.btokyo footer{
    color: #1C2242;
    float: left;

}

/*HIROSHIMA*/
.bhiroshima{
    background-color: #C9C8C4;
    width: 100%;

}

.bhiroshima nav{
    color: #BA4347;
}
.bhiroshima article {
    color: #1C2242;
    float: left;
    margin-left: 10%;
    
    font-family: 'Alexandria';
    font-size: 1.1em;
    margin-right: 10%;
    margin-bottom: 5%;
}
.bhiroshima h1{
    color: #BA4347;;
    text-align: center;
    font-weight: 100%;
    font-size: 5em;
    margin-right: 10%;
    margin-right: 10%;
    font-family: sans-serif;
 
    
    

}
.bhiroshima header{
    background-color: #BA4347;;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.bhiroshima p{
  
  text-align: center;
  



}
.bhiroshima img{
    
    margin-top: 1%;
    margin-bottom: 3%;
    float:left;
    margin-left: 10%;
    
}
.bhiroshima footer{
    color: #BA4347;;
    float: left;

}


/*JENNYFER DESTINO*/

body {
  background-image: url("img/bgnight1.png");
  }

.header_destino{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 10px 20px 0px 80px;
    /*topo, direita, base, esquerda*/ 
    display: inline; 
    align-items: center;
    font-family: 'Alexandria', Arial, Helvetica, sans-serif;
}

ul li a{
    color: white;
    text-transform: none;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
}




  .h1-destino{
    color: white;
    padding: 0px 10px 0px 800px;
    font-size: 40px;
  }
  
  .texto-destino{
    color: white;
    padding: 0px 20px 0px 800px;
    font-size: 20px;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
  }
  .container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#f00,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 200px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .container .box .content a {
    color: #fff;
    transition: 0.5s;
    font-size: 32px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .container .box:hover .content a {
    transform: translateY(0px);
  }



  /*JENNYFER CONTAT0*/

  .body-contato{
    background-color: #2D2C2E;
  }
  
nav ul li {
    padding: 0px 0px 0px 100px;
    /*topo, direita, base, esquerda*/ 
    display: inline; 
    align-items: center;
    font-family: 'Alexandria', Arial, Helvetica, sans-serif;
}

ul li a{
    color: white;
    text-transform: none;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
}


  h1{
    color: #C9C8C4;
    font-size: 50px;
  }
 
  .caixa__login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-70%, -50%);
    
    box-sizing: border-box;
    
    border-radius: 10px;
  }
  
  .caixa__login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .caixa__login .caixa__login-input {
    position: relative;
  }
  
  .caixa__login .caixa__login-input input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1.5px solid #fff;
    outline: none;
    background: transparent;
  }


  .caixa__login .caixa__login-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0;
    font-size: 16px;
    color: white
  }
  
  .caixa__login .caixa__login-input input:focus ~ label,
  .caixa__login .caixa__login-input input:valid ~ label {
    top: -20px;
    left: 0;
    color: #8b80f9;
    font-size: 12px;
  }
  
  .caixa__login form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #8b80f9;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .caixa__login a:hover {
    background: #8b80f9;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8b80f9, 0 0 25px #8b80f9, 0 0 50px #8b80f9,
      0 0 100px #8b80f9;
  }
  
  .caixa__login a span {
    position: absolute;
    display: block;
  }
  

  
  @keyframes animacaoBotao1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .caixa__login a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8b80f9);
    animation: animacaoBotao2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes animacaoBotao2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .caixa__login a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8b80f9);
    animation: animacaoBotao3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animacaoBotao3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .caixa__login a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #8b80f9);
    animation: animacaoBotao4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animacaoBotao4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }


  .icon{
    height: 800px;
    padding: 50px 500px 20px 700px;
    margin-top: 80px;
    float: right;


  }

 